.index_title {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 20px;
  width: 60%
}
