@import 'colors';
.cryptid-show-title {
  text-align: center;
  color: $dark-green;
  font-size: 1.6em;
  font-style: italic;
}

.cryptid-container {
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
  padding: .8em;
  display: flex;
  flex-direction: column;
  align-content: margin-right;
}

.cryptid-show-pic {
  float: left;
  margin-right: .8em;
  margin-bottom: .8em;
}

.cryptid_sightings {
  margin-top: 1em;
  display: inline-block;
  width: 80%;
  padding: 0 1em;
}

.sightings-for-cryptid {
  padding-right: 1em;
}
