@import 'colors';

.sighting-tile {
  min-height: 8em;
  width: 100%;

  .left-column {
    padding: 20px;
    text-align: center;

    .cryptid-pic {
      width: 100%;
    }
    .user-name {
      font-size: 1em;
      width: 100%;
    }
    .date {
      font-size: .8em;
    }
  }
  .right-column {
    padding: 10px;
  }
}
.confidence-icon {
  width: 30px;
  padding-left: .4em;
  opacity: .5;
}
.chosen-icon {
  width: 45px;
  opacity: 1;
}
.sighting-cryptid-name {
  text-align: center;
  color: $dark-green;
  font-size: 1.3em;
}

.sideways-thumbs {
  display: flex;
  flex-direction: column;
}
