@import 'colors';

.sighting-tile {
  min-height: 8em;
  width: 100%;

  .left-column {
    padding: 20px;
    text-align: center;

    .cryptid-pic {
      width: 100%;
    }
    .user-name {
      font-size: 1em;
      width: 100%;
    }
    .date {
      font-size: .8em;
    }
  }
  .right-column {
    padding: 10px;
  }
}
.confidence-icon {
  width: 30px;
  padding-left: .4em;
  opacity: .5;
}
.chosen-icon {
  width: 45px;
  opacity: 1;
}
.sighting-cryptid-name {
  text-align: center;
  color: $dark-green;
  font-size: 1.3em;
}
.button-div {
  display: flex;
  justify-content: space-around;
  .page-button {
    color: $dark-green;
    font-size: 1.2em;
    background-color: $yellow-ish;
    padding: .4em .8em;
    border-radius: 5px;
  }
  .page-button:hover {
    opacity: .7;
  }
}

.sideways-thumbs {
  display: flex;
  flex-direction: column;
  line-height: 3em;
  justify-content: flex-end;
}

.sighting-description {
  display: block;
}

.fa-thumbs-up, .fa-thumbs-down {
  font-size: 30px;
  color: $dark-green;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
  color: $yellow-ish;
}

.sighting-link-text{
  color: $dark-green;

}.sighting-link-text:hover{
  color: $yellow-ish;
}
