.user-list {
  list-style-type: none
}

.user-text {
  font-family: 'Ubuntu', sans-serif;
}

.user-name {
  font-size: 1.75em;
  font-weight: bold;
}
.user-bio {
  display: inline-block;
  margin-top: 2em;
}
